<div class="container jumbotron">
    <div class="div-outer">
        <div class="div-inner1">

        </div>
        <div class="div-inner2">
            <div class="list-group">
                <table class="table table-hover">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">Thumbnail</th>
                            <th scope="col">Details</th>
                            <th scope="col">Information</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr app-movie-edit-form *ngFor="let movie of movies" [movie]="movie" [categories]="categories" (delete)="onDelete(movie)" (update)="onUpdate($event)">
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>