/* .list-group {
  margin-right: 0;
  width: 50%;
}

.div-inner1 {
  float: left;
  height: 40%;
}

.div-inner2 {
  width: 100%;

} */

.form-control-sm {
    margin: 0px 0px 8px;
    background-color: #303030;
    color: whitesmoke;
}

#editForm {
    margin: 0px 0px 8px;
    background-color: #303030;
    color: whitesmoke;
}
