<!-- <hr class="my-4"> -->
<div class="container jumbotron">
    <button class="btn btn-primary" (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="isCollapsed" aria-controls="appMovieFormContainer">Show Add Movie Form</button>
    <div id="appMovieFormContainer" [ngbCollapse]="isCollapsed">
        <hr class="my-3">
        <app-movie-form *ngIf="!currentMovie" (save)="addMovie($event)"></app-movie-form>
        <app-movie-form *ngIf="currentMovie" (edit)="editMovie($event)" [editableMovie]="currentMovie"></app-movie-form>
    </div>
</div>

<div class="container jumbotron">
    <div class="div-outer">
        <div class="div-inner1">
            <!-- <app-movie-form *ngIf = "!currentMovie" (save)="addMovie($event)"></app-movie-form>

    <app-movie-form *ngIf = "currentMovie" (edit)="editMovie($event)" [editableMovie] = "currentMovie"></app-movie-form> -->
        </div>
        <div class="div-inner2">
            <div class="list-group">
                <!-- <div id="table" class="table-editable"> -->
                <table class="table table-hover">
                    <!-- <thead style="background-color: saddlebrown; color: floralwhite; font-size: 6mm;"> -->
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">Thumbnail</th>
                            <th scope="col">Details</th>
                            <th scope="col">Information</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    <!-- <tbody style="background-color: rgb(57, 72, 87); color: floralwhite; font-size: 5mm;"> -->
                    <tbody>
                        <tr *ngFor="let movie of movies">
                            <th scope="row">
                                <!-- <app-movie [movie]="movie" style="max-height: 0.7cm; max-width: 1cm;"></app-movie> -->
                                <app-movie [movie]="movie"></app-movie>
                            </th>
                            <td>
                                <div>
                                    <p>Title: </p>
                                    <p>Year: </p>
                                    <p>Category: </p>
                                    <p>YouTube Video ID: </p>
                                    <p>Description: </p>
                                </div>
                            </td>
                            <td>
                                <div class="form-group">
                                    <fieldset #movieInfoInputs disabled="true">
                                        <!-- <p (keyup)="changeValue(id, 'title', $event)" (blur)="updateList(id, 'title', $event)" contenteditable="true">{{movie.title}}</p> -->
                                        <input class="form-control form-control-sm" contenteditable="true" value={{movie.title}}>
                                        <input class="form-control form-control-sm" contenteditable="true" value={{movie.year}}>
                                        <input class="form-control form-control-sm" contenteditable="true" value={{movie.category.name}}>
                                        <input class="form-control form-control-sm" contenteditable="true" value={{movie.url}}>
                                        <textarea class="form-control form-control-sm" contenteditable="true" value={{movie.description}}></textarea>
                                        <!-- <p role="textbox" class="form-control form-control-sm" contenteditable="true" value={{movie.description}}></p> -->
                                        <!-- <p (keyup)="changeValue(id, 'year', $event)" (blur)="updateList(id, 'year', $event)" contenteditable="true">{{movie.year}}</p>
                                    <p (keyup)="changeValue(id, 'rating', $event)" (blur)="updateList(id, 'rating', $event)" contenteditable="true">{{movie.rating}}</p> -->
                                    </fieldset>
                                </div>
                            </td>
                            <td>
                                <div>
                                    <p><button type="button" class="btn btn-danger" title="delete movie" (click)="delete(movie)"><i class="far fa-trash-alt"></i></button></p>
                                    <p><button type="button" class="btn btn-warning" *ngIf="movieInfoInputs.disabled===true" (click)="movieInfoInputs.disabled=false" title="Edit Details"><i class="fas fa-edit"></i></button></p>
                                    <p><button type="button" class="btn btn-success" *ngIf="movieInfoInputs.disabled===false" (click)="movieInfoInputs.disabled=true" title="Confirm Edit"><i class="fas fa-check"></i></button></p>
                                    <!-- <p><button type="button" class="btn btn-warning" title="edit movie" (click)="edit(movie)"><i class="fas fa-edit"></i></button></p> -->
                                    <!-- <p><button type="button" class="btn btn-warning" title="edit movie" (edit)="editMovie($event)" [editableMovie]="currentMovie"><i class="fas fa-edit"></i></button></p> -->
                                </div>
                            </td>
                            <!--
                            <td>{{movie.title}}</td>
                            <td>{{movie.category.name}}</td>
                            <td>{{movie.year}}</td>
                            <td>{{movie.rating}}</td> -->
                            <!-- <td><button type="button" class="btn btn-danger" title="delete movie" (click)="delete(movie)">x</button></td>
                            <td><button type="button" class="btn btn-danger" title="edit movie" (click)="edit(movie)">_/</button></td> -->
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- <button type="button" class="btn btn-danger" title="edit movie" (click)="edit(movie)">_/</button> -->



<!-- <div class="div-inner2">
            <div class="list-group">
             <div id="table" class="table-editable"> -->
<!-- <table class="table table-hover"> -->
<!-- <thead style="background-color: saddlebrown; color: floralwhite; font-size: 6mm;"> -->
<!-- <thead>
                        <tr class="table-primary">
                            <th scope="col">Thumbnail</th>
                            <th scope="col">Details</th>
                            <th scope="col">Information</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead> -->
<!-- <tbody style="background-color: rgb(57, 72, 87); color: floralwhite; font-size: 5mm;"> -->
<!-- <tbody>
                        <tr *ngFor="let movie of movies">
                            <th scope="row"> -->
<!-- <app-movie [movie]="movie" style="max-height: 0.7cm; max-width: 1cm;"></app-movie> -->
<!-- <app-movie [movie]="movie"></app-movie>
                            </th>
                            <td>
                                <div>
                                    <p>Title: </p>
                                    <p>Year: </p>
                                    <p>Rating: </p>
                                </div>
                            </td>
                            <td>
                                    <div class="form-group">
                                <fieldset #movieInfoInputs disabled="true"> -->
<!-- <p (keyup)="changeValue(id, 'title', $event)" (blur)="updateList(id, 'title', $event)" contenteditable="true">{{movie.title}}</p> -->
<!-- <input #movieTitleInput (keyup)="edit(movie)" contenteditable="true" value={{movie.title}} disabled="true"> -->
<!-- <input class="form-control form-control-sm" (keyup)="edit(movie)" contenteditable="true" value={{movie.title}}><br/>
                                    <input class="form-control form-control-sm" (keyup)="changeValue(id, 'year', $event)" (blur)="updateList(id, 'year', $event)" contenteditable="true" value={{movie.year}}><br/>
                                    <input class="form-control form-control-sm" (keyup)="changeValue(id, 'rating', $event)" (blur)="updateList(id, 'rating', $event)" contenteditable="true" value={{movie.rating}}><br/>
                                </fieldset>
                                    </div>
                            </td>
                            <td>
                                <div>
                                    <p><button type="button" class="btn btn-danger" title="delete movie" (click)="delete(movie)"><i class="far fa-trash-alt"></i></button></p> -->
<!-- <p><button type="button" class="btn btn-warning" *ngIf="movieTitleInput.disabled===false" (click)="movieTitleInput.disabled=false" title="edit movie"><i class="fas fa-check"></i></button></p> -->
<!-- <p><button type="button" class="btn btn-warning" *ngIf="movieInfoInputs.disabled===true" (click)="movieInfoInputs.disabled=false" title="edit movie"><i class="fas fa-edit"></i></button></p> -->
<!-- <p><button type="button" class="btn btn-warning" title="edit movie" (click)="edit(movie)"><i class="fas fa-edit"></i></button></p> -->
<!-- <p><button type="button" class="btn btn-warning" title="edit movie" (edit)="editMovie($event)" [editableMovie]="currentMovie"><i class="fas fa-edit"></i></button></p> -->
<!-- </div>
                            </td> -->
<!--
                            <td>{{movie.title}}</td>
                            <td>{{movie.category.name}}</td>
                            <td>{{movie.year}}</td>
                            <td>{{movie.rating}}</td> -->
<!-- <td><button type="button" class="btn btn-danger" title="delete movie" (click)="delete(movie)">x</button></td>
                            <td><button type="button" class="btn btn-danger" title="edit movie" (click)="edit(movie)">_/</button></td> -->
<!-- </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> -->

<!-- <button type="button" class="btn btn-danger" title="edit movie" (click)="edit(movie)">_/</button> -->



<!-- <div class="div-inner2">
            <div class="list-group">
             <div id="table" class="table-editable"> -->
<!-- <table class="table table-hover"> -->
<!-- <thead style="background-color: saddlebrown; color: floralwhite; font-size: 6mm;"> -->
<!-- <thead>
                        <tr class="table-primary">
                            <th scope="col">Thumbnail</th>
                            <th scope="col">Details</th>
                            <th scope="col">Information</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead> -->
<!-- <tbody style="background-color: rgb(57, 72, 87); color: floralwhite; font-size: 5mm;"> -->
<!-- <tbody>
                        <tr *ngFor="let movie of movies">
                            <th scope="row"> -->
<!-- <app-movie [movie]="movie" style="max-height: 0.7cm; max-width: 1cm;"></app-movie> -->
<!-- <app-movie [movie]="movie"></app-movie>
                            </th>
                            <td>
                                <div>
                                    <p>Title: </p>
                                    <p>Year: </p>
                                    <p>Rating: </p>
                                </div>
                            </td>
                            <td>
                                    <div class="form-group">
                                <fieldset #movieInfoInputs disabled="true"> -->
<!-- <p (keyup)="changeValue(id, 'title', $event)" (blur)="updateList(id, 'title', $event)" contenteditable="true">{{movie.title}}</p> -->
<!-- <input #movieTitleInput (keyup)="edit(movie)" contenteditable="true" value={{movie.title}} disabled="true"> -->
<!-- <input class="form-control form-control-sm" (keyup)="edit(movie)" contenteditable="true" value={{movie.title}}><br/>
                                    <input class="form-control form-control-sm" (keyup)="changeValue(id, 'year', $event)" (blur)="updateList(id, 'year', $event)" contenteditable="true" value={{movie.year}}><br/>
                                    <input class="form-control form-control-sm" (keyup)="changeValue(id, 'rating', $event)" (blur)="updateList(id, 'rating', $event)" contenteditable="true" value={{movie.rating}}><br/>
                                </fieldset>
                                    </div>
                            </td>
                            <td>
                                <div>
                                    <p><button type="button" class="btn btn-danger" title="delete movie" (click)="delete(movie)"><i class="far fa-trash-alt"></i></button></p>
                                    <p><button type="button" class="btn btn-warning" *ngIf="movieTitleInput.disabled===false" (click)="movieTitleInput.disabled=false" title="edit movie"><i class="fas fa-check"></i></button></p>
                                    <p><button type="button" class="btn btn-warning" *ngIf="movieInfoInputs.disabled===true" (click)="movieInfoInputs.disabled=false" title="edit movie"><i class="fas fa-edit"></i></button></p>
                                    <p><button type="button" class="btn btn-warning" title="edit movie" (click)="edit(movie)"><i class="fas fa-edit"></i></button></p> -->
<!-- <p><button type="button" class="btn btn-warning" title="edit movie" (edit)="editMovie($event)" [editableMovie]="currentMovie"><i class="fas fa-edit"></i></button></p>
                                </div>
                            </td>

                            <td>{{movie.title}}</td>
                            <td>{{movie.category.name}}</td>
                            <td>{{movie.year}}</td>
                            <td>{{movie.rating}}</td> -->
<!-- <td><button type="button" class="btn btn-danger" title="delete movie" (click)="delete(movie)">x</button></td>
                            <td><button type="button" class="btn btn-danger" title="edit movie" (click)="edit(movie)">_/</button></td> -->
<!-- </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div> -->

<!-- <button type="button" class="btn btn-danger" title="edit movie" (click)="edit(movie)">_/</button> -->
