<!-- <app-movie-carousel></app-movie-carousel> -->

<div #scrollToTop class="main">
  <div>
    <app-movie-details *ngIf="currentMovie" [movie]="currentMovie"></app-movie-details>
  </div>
  <!-- <ng-container -->
  <div class="container-fluid" *ngFor="let category of categories">
    <h1 style="text-align: left; color: white; size: 0.2cm;">{{ category.name | titlecase }}</h1>
    <div class="wrapper">
      <section id="section{{ category.name }}{{ i + 1 }}" *ngFor="let movieGroup of movieSlides; let i = index">
        <a href="#section{{ category.name }}{{ i }}" class="arrow__btn">‹</a>
        <div class="item" *ngFor="let movie of movieGroup; let i = index">
          <!-- <img   (click) = "sendCurrent(movie)"  width="360" height="215" src="https://img.youtube.com/vi/{{movie.url}}/maxresdefault.jpg"/> -->

          <img (click)="sendCurrent(movie)" width="360" height="215"
            src="https://img.youtube.com/vi/{{ movie.url }}/maxresdefault.jpg" />
          <div class="top-left">ChillFlix</div>
          <!-- <app-movie *ngIf="category.name === movie.category.name"  [movie]= "movie" (click) = "sendCurrent(movie)"></app-movie> -->
        </div>
        <a href="#section{{ category.name }}{{ i + 2 }}" class="arrow__btn">›</a>
      </section>
    </div>
  </div>
</div>
