<div class="container-fluid main">
  <app-movie-details *ngIf="currentMovie" [movie]= "currentMovie"></app-movie-details>

  <!-- <img  *ngFor="let movie of movies" width="360" height="215" src="https://img.youtube.com/vi/{{movie.url}}/maxresdefault.jpg"/> -->
  <div class="wrapper" >
    <section id="section" >
      <div class="item"  *ngFor="let movie of movies; let i = index">
          <app-movie [movie]= "movie" (click) = "sendCurrent(movie)"></app-movie>
      </div>
    </section>
  </div>
</div>
