<!-- <app-movie-list (sendCurrentId)="getCurrentMovie($event)"></app-movie-list> -->

<div class="outer-div d-flex justify-content-center align-items-center"
  [ngStyle]="{background: getYoutubeThumbUrlSanitized(movie.url)}">
  <div class="mySlides w3-animate-opacity">
    <div class="w3-display-left w3-padding w3-hide-small">
      <div class=" w3-black w3-opacity w3-hover-opacity-off w3-padding-large w3-round-large back-size">
        <h1 class="w3-xlarge w3-text-red">{{ movie.title }}</h1>
        <p>Year: {{movie.year}} Rating: {{movie.rating}}</p>
        <hr class="w3-opacity">
        <p>Description: {{ movie.description }}</p>
        <ngb-rating [(rate)]="currentRate">
          <ng-template let-fill="fill" let-index="index">
            <span class="star" [class.filled]="fill === 100" [class.bad]="index < 0">&#9733;</span>
          </ng-template>
        </ngb-rating>
        <hr>
        <pre style="color: aliceblue;">Rate: <b>{{currentRate}}</b></pre>

        <p><button class="w3-button w3-block w3-red w3-round"
            onclick="document.getElementById('download').style.display='block'">Rate <i class="fa fa-android"></i>
            <i class="fa fa-apple"></i> <i class="fa fa-windows"></i></button></p>
      </div>
    </div>
  </div>
  <!-- <div class="inner-div selectedMovieInfo" style="max-width: 10cm; z-index: 1;"> -->
  <!-- <h3 class="card-title" style="background-color: steelblue;">
      {{ movie.title }}
    </h3>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Year: {{ movie.year }}</li>
      <li class="list-group-item">Description: {{ movie.description }}</li>
      <li class="list-group-item">Rating: {{ movie.rating }}</li>
    </ul>
    <a href="#" class="btn btn-primary">Rate</a>
    <a href="#" (click)="goBack()" class="card-link">go back</a> -->
  <!-- </div> -->
  <div class="inner-div">
    <iframe width="560" height="415" [src]="youtubeUrl + movie.url | safe: 'resourceUrl'" frameborder="1"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
